<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
		<div class="sidebar-brand-icon">
			<!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="/img/logomototaxi.png" width="35"/>
		</div>
		<div class="sidebar-brand-text mx-3">Moto Taxi 94</div>
	</a>

	<!-- Divider -->
	<!-- <hr class="sidebar-divider my-0"> -->
	<!-- <br/> -->
	<!-- Heading -->
	<!-- <div class="sidebar-heading">
		<i class="fas fa-bars"></i> Menu
	</div>
	<br/> -->
	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/moto/list">
			<i class="fas fa-motorcycle"></i>
			<span>Motos</span>
		</a>
	</li>

    <!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/usuario/list">
			<i class="fas fa-users"></i>
			<span>Usuarios</span>
		</a>
	</li>

    <!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/cliente/list">
			<i class="fas fa-users"></i>
			<span>Clientes</span>
		</a>
	</li>

    <!-- Nav Item - Tables -->
	<li class="nav-item">
		<a class="nav-link" href="/app/viagem/list">
			<i class="fas fa-map-marked-alt"></i>
			<span>Viagem</span>
		</a>
	</li>

	<!-- Nav Item - Tables 
	<li class="nav-item">
		<a class="nav-link" href="/app/mesa/list">
			<i class="fas fa-chess-board"></i>
			<span>Mesa</span>
		</a>
	</li>
-->
	<!-- Nav Item - Tables 
	<li class="nav-item">
		<a class="nav-link" href="/app/atendimento/list">
			<i class="fas fa-utensils"></i>
			<span>Atendimento</span>
		</a>
	</li>
-->
	<!-- Nav Item - Tables 
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fas fa-history"></i>
			<span>Histórico</span>
		</a>
	</li>
-->
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->